html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

#about-btn {
    background-color: #b3ff51;
    border-color: #b3ff51;
    text-shadow: 1px 1px 0 #444;
}

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
}

.navbar-nav {
    width: 960px;
}

    .navbar-nav .nav-item {
        margin-right: 20px;
    }

        .navbar-nav .nav-item .nav-link:hover {
            text-decoration: underline;
        }

.nav-link i {
    font-size: 24px;
}

.nav-link .nav-text {
    font-size: 18px;
}

#ProductCarousel img {
    width: 50%;
    margin: auto;
}

footer {
    background-color: #333333;
    color: #fff;
}

footer p,
footer ul li {
    color: #fff;
}


footer a[href^="tel"] {
    color: #00f;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .title-footer .h4 {
    color: #fff;
}

footer .footer-link-wanda ul li a {
    color: #fff;
}

footer .footer-support li a {
    color: #00f;
}

footer .footer-support li span {
    color: #fff;
}

footer .text-copyright span {
    color: #fff;
}

footer .text-copyright a {
    color: #00f;
}

footer .copyright-wanda {
    background-color: #000000;
    color: #fff;
    }