@model int
@{
    ViewData["Title"] = "Thanh Toán Thành Công";
}

<h2>Order Completed</h2>
<p>Your order has been successfully placed. Your order ID is @Model.</p>
<a href="@Url.Action("Index", "Products")" class="btn btn-primary">Continue Shopping</a>