@model DoAnCoSo_WebBanMoHinh.Models.Category

@{
    ViewData["Title"] = "Tạo Loại";
}

<h4>Tạo Loại Mới</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CateName" class="control-label"></label>
                <input asp-for="CateName" class="form-control" />
                <span asp-validation-for="CateName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="d-flex">
                    <input type="submit" value="Tạo" class="btn btn-primary me-2" />
                    <a asp-area="Admin" asp-controller="CategoriesManager" asp-action="Index">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            Trở Về
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>