@page
@model LogoutModel
@{
    ViewData["Title"] = "Đăng Xuất";
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <h2 class="text-center">Bạn có muốn đăng xuất không?</h2>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <div class="d-flex justify-content-center align-items-center">
                <a class="me-2" asp-area="" asp-controller="Products" asp-action="Index">
                    <button class="btn btn-outline-dark">Trở Về</button>
                </a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="btn btn-success">Đăng Xuất</button>
                </form>
            </div>
        }
        else
        {
            <p>Bạn đã đăng xuất thành công.</p>
        }
    }
</div>