@page
@model RegisterModel
@{
    ViewData["Title"] = "Đăng Ký";
}

<section class="vh-100 gradient-custom">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card text-white" style="border-radius: 1rem; background:#363636">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Đăng Ký</h2>
                                <p class="text-white-50 mb-5">Đăng ký để được mua hàng tại shop</p>

                                <div class="form-outline form-white mb-4">
                                    <label asp-for="Input.FullName" class="form-label">Họ Tên</label>
                                    <input asp-for="Input.FullName" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="Nguyễn Văn A" />
                                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label asp-for="Input.Address" class="form-label">Địa Chỉ</label>
                                    <input asp-for="Input.Address" class="form-control form-control-lg" autocomplete="address" aria-required="true" placeholder="128 Võ Văn Kiệt" />
                                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label asp-for="Input.Email" class="form-label">Email</label>
                                    <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="email" aria-required="true" placeholder="a@example.com" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label asp-for="Input.Password" class="form-label">Mật Khẩu</label>
                                    <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="password" aria-required="true" placeholder="password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label asp-for="Input.ConfirmPassword" class="form-label">Xác Nhận Mật Khẩu</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" autocomplete="password" aria-required="true" placeholder="password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button id="registerSubmit" type="submit" class="btn btn-outline-light btn-lg px-5">Đăng Ký</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
