@page
@model RegisterModel

@{
    ViewData["Title"] = "Đăng Ký";
}

<section class="vh-100 gradient-custom">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <!-- Loại bỏ card -->
                    <div class="register-container">

                        <h2 class="fw-bold mb-3 text-uppercase text-center">Đăng Ký</h2>
                        <p class="text-muted mb-4 text-center">Đăng ký để được mua hàng tại shop</p>

                        <div class="form-outline mb-4">
                            <label asp-for="Input.FullName" class="form-label">Họ Tên</label>
                            <input asp-for="Input.FullName" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="Nguyễn Văn A" />
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label asp-for="Input.Address" class="form-label">Địa Chỉ</label>
                            <input asp-for="Input.Address" class="form-control form-control-lg" autocomplete="address" aria-required="true" placeholder="128 Võ Văn Kiệt" />
                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="email" aria-required="true" placeholder="a@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label asp-for="Input.Password" class="form-label">Mật Khẩu</label>
                            <input asp-for="Input.Password" type="password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label asp-for="Input.ConfirmPassword" class="form-label">Xác Nhận Mật Khẩu</label>
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button id="registerSubmit" type="submit" class="btn btn-primary btn-lg w-100">Đăng Ký</button>
                    </div>
                    <!-- End card -->
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
